<% wrap_layout :scaffold do %>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <main role="main">
    <div class="uik-l-container uik-l-padding-bottom-large">
      <div class="uik-l-grid uik-l-grid--gutters-x-large uik-l-grid--full uik-l-large-grid--fit">
        <div class="uik-l-grid__cell">
          <h1><%= current_page.data.title || data.site.title %></h1>
          <p><%= current_page.data.description || data.site.description %></p>
        </div>
      </div>
    </div>

    <% if current_page.data.home != 'true' %>
      <div class="uik-t-inverse">
    <% end %>

    <div class="uik-l-container uik-l-padding-top-large uik-l-padding-bottom-large">
      <div class="uik-l-grid uik-l-grid--gutters">
        <div class="uik-l-grid__cell"><%= yield %></div>
      </div>
    </div>

    <% if current_page.data.home != 'true' %>
      </div>
    <% end %>
    </div>
  </main>

  <hr class="uik-u-hidden" />

  <nav role="navigation" class="uik-l-container uik-l-padding-top-large uik-l-padding-bottom-large">
    <ul class="uik-l-grid uik-l-grid--gutters uik-l-grid--full uik-l-large-grid--fit">
      <li class="uik-l-grid__cell">
        <%= link_to "Clarity", "https://www.clarityconf.com" %>
      </li>

      <li class="uik-l-grid__cell is-active">
        <%= link_to "Coalition", "http://coalition.design.systems" %>
      </li>

      <li class="uik-l-grid__cell">
        <%= link_to "Handbook", "https://www.designbetter.co/design-systems-handbook" %>
      </li>

      <li class="uik-l-grid__cell">
        <%= link_to "News", "http://news.design.systems" %>
      </li>

      <li class="uik-l-grid__cell">
        <%= link_to "Publication", "http://publication.design.systems" %>
      </li>

      <li class="uik-l-grid__cell">
        <%= link_to "Slack", "http://slack.design.systems" %>
      </li>
    </ul>
  </nav>

  <hr class="uik-u-hidden" />

  <footer role="contentinfo">
    <div class="uik-l-container uik-l-padding-bottom-large">
      <p>
        <%= link_to "design.systems", "http://design.systems" %> is created by
        <%= link_to "Jina Anne", "http://jina.me" %> of
        <%= link_to "Sushi & Robots", "https://www.sushiandrobots.com" %>
      </p>

      <p>
        Thank you <%= link_to "Webflow", "https://webflow.com" %> for your
        🌕 Full Moon patronage.
        <%= link_to "Support this project on&nbsp;Patreon", "https://www.patreon.com/sushiandrobots" %>
      </p>
    </div>
  </footer>
<% end %>
